*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f5ebe0;
    text-align:center;
}

.producto{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}


h1{
    color: #6f4e37;
    margin-bottom: 20px;
    font-size: 40px;
}

img{
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    margin-bottom: 20px;
}

h2{
    color: #8b5e3c;
    margin-top: 20px;
    margin-bottom: 10px;
}

p{
    font-size: 18px;
    color: #444;
    line-height: 1.8;
}

.boton{
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background: #6f4e37;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.boton:hover{
    background: #4e342e;
}